* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    background-color:white;
}

.container {
    background-color:white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header {
    width: 100%;
   height: 45vh;
    background-color:white;
    padding: 30px 0px 0px 80px;
}

.header h1 {
    font-size: 40px;
    color: #29b4b1;
    padding-top: 20px;
}

.header p {
    color: #bfdf32;
    font-size: 30px;
    margin-top: 30px;
}

.header article{
    color: #c3c5cf;
    font-size: 25px;
    padding: 20px 0;
    line-height: 40px;
    font-weight: 700;
}
.pricing{
    display: flex;
    flex-wrap: wrap;
    height: 53vh;
    width:100%;
}
.pricing #subscription {
background-color:#29b4b1;
width: 50%;
height: 55vh;
padding-left:80px;
display: flex;
justify-content: center;
align-items: flex-start;
flex-direction: column;

}
.pricing h2 {
    color: #edfbfb;
    font-size: 30px;
}
.pricing #subscription p{
    color: white;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
    align-items: center;
}
.pricing #subscription .fee{
    font-size: 25px;
    color: #ccdddd;
    padding-left: 30px;
}
.pricing #subscription article {
    color: #bbc8c8;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 45px;
}
.pricing button {
    background-color: #bfdf32;
    color: white;
    font-family: "Karla", sans-serif;
    font-size: 25px;
    font-weight: 700;
    padding: 15px 150px;
    border: none;
    border-radius: 6px;
    box-shadow: 10px 5px 30px 0px rgb(28, 22, 22);
    cursor: pointer;
}


.pricing #why-us{
    background-color:#48bfbd;
    width: 50%;
    height: 55vh;
    padding-left:90px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.pricing #why-us p {
    color: white;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 30px;
}
.pricing #why-us ul {
    line-height: 30px;
    font-size: 20px;
    font-weight: 500;
    color: #d1dada;
    list-style: none;
}